AgaHackTools/obj/
AgaHackTools.Memory/obj/
bin/
AgaHackTools.Example/obj/
obj/
AgaHackTools/AgaHackTools.Main.csproj.DotSettings
ModuleExamples/build/AgaHackTools.Example.vshost.exe.config
ModuleExamples/build/AgaHackTools.Example.vshost.exe.manifest
ModuleExamples/build/Modules.cfg
ModuleExamples/build/Newtonsoft.Json.xml
ModuleExamples/build/Settings.cfg
build/DomainWrapper.exp
packages/Newtonsoft.Json.7.0.1/Newtonsoft.Json.7.0.1.nupkg
packages/Newtonsoft.Json.7.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/lib/portable-net45+wp80+win8+wpa81+dnxcore50/Newtonsoft.Json.xml
packages/Newtonsoft.Json.7.0.1/tools/install.ps1
packages/UnmanagedExports.1.2.7/UnmanagedExports.1.2.7.nupkg
packages/UnmanagedExports.1.2.7/tools/DllExportCmdLets.psm1
packages/UnmanagedExports.1.2.7/tools/RGiesecke.DllExport.targets
packages/UnmanagedExports.1.2.7/tools/init.ps1
packages/UnmanagedExports.1.2.7/tools/install.ps1
packages/UnmanagedExports.1.2.7/tools/uninstall.ps1
packages/repositories.config
